form {
	width: 380px;
	margin: 4em auto;
  padding: 3em 2em 2em 2em;
}
.dosis-semibold {
  font-family: DosisSemiBold;
  font-weight: 600;
}

.group { 
	position: relative; 
  margin-bottom: 45px;
  margin-top: 30px;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label,
input:-webkit-autofill:focus ~ label, input:-moz-autofill:focus ~ label
{
	top: -20px;
  transform: scale(.75);
  left: -2px;
	color: #4a89dc;
}

input:-webkit-autofill ~ label {
	top: -20px !important;
  transform: scale(.75) !important;
  left: -2px !important;
	color: #4a89dc !important;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
{
    -webkit-box-shadow: 0 0 0 30px white inset;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}

/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
.box-border {
  border: 1px solid #efefef;
  background-color: #fff;
}

@media only screen and (min-width: 1024px) {
  .container-box-login {
    /* margin: 3% 20% 6%; */
    margin-top: 10%;
    margin-left: 20%;
  }
  .login-form-resp-login {
    padding-top: 10%;
  }
  .login-div {
    margin: 0 30%;
  }
}

.container-box-login {
  overflow: hidden;
  /* margin-top: 5px; */
  min-height: 20vh;
  margin-top: 10%;
  margin-left: 20%;
  width: 30%;
}
.login-header {
  font-family: Dosis-SemiBold;
}
.login-form-resp {
  text-align: left;
  padding-top: 3%;
}

.login-form-resp-login {
  text-align: left;
  padding-top: 14%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.login-div {
  margin: 0 6%;
}

.login-div .group-login {
  margin-bottom: 25px;
}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control, output {
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
}

.login-text-field {
  height: 40px;
  font-size: 14px;
}
.input-text {
  border-radius: 1px;
  font-size: 15px;
  padding-left: 10px;
}

.email-field {
  margin-bottom: -4px;
}
.password-field {
  margin-bottom: -20px;
}
.get-full-width-login {
  margin-top: 65px;
  margin-bottom: 65px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-bttn-login {
  height: 40px;
  width: 100%;
  float: right;
}